@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
        font-family: 'Lobster', cursive;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
}      

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 100px;
        background-color: #f0f0f0;
        position: fixed;
        z-index: 100;
}
@media (max-width: 675px) {
        header {
                justify-content: center;
                
        }
        .nav {
                /* اصنع ايكونة المنسدلة */
                display: none;
        }
}

header a {
        display: inline-block;
        padding-left: 30px;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 500;
        color: #FFBF00;
}
.logo {
        font-family: 'lobster';
        text-transform: uppercase;
        font-size: 1.95em;
        color: #93C572;
        font-weight: 700;
}
.nav a:hover {
        color: #93C572;
        text-shadow: 0 0 20px #ffbf00;
}

section {
        padding: 100px;
}
section > div {
        color: #fff;
}

.intro {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;     
        background-image: url(images/background.png), url(https://cdn.mos.cms.futurecdn.net/J2riQgcYvjW4PGGmWU3FzD.jpg);
        background-size: contain ;
        background-repeat: no-repeat;
        background-position: right;
        background-color: black;

}       
@media (max-width: 950px) {
        .intro {
                text-align: center;
                justify-content: center;
                background-image: none;
                background-image: linear-gradient(to right, #00b4db, #0083b0);
        }
        .btn {
           width: 200px;
           margin: 0 auto 30px;
        }
}

h2 {
        font-size: 1.2em;
        font-weight: 500;
}

.job {
        font-size: 5em;
        font-weight: 500;
        color: #32CD32;
        margin-top: 10px;
}

h3 {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 10px 0 30px 0;
}

.btn {
        display: block;
        padding: .8375em 2.1875em;
        background-color: #0000CD;
        width: fit-content;
        color: #fff;
        font-size: 1.1em;
        font-weight: 500;
        text-decoration: none;
        border-radius: 15px;
        transition: ease .7s;
}

.btn:hover {
        transform: scale(1.1);
        background-color: #00008B;
}

.social-icons {
        margin: 20px;
}
.social-icons a {
        font-size: 1.7em;
        color: #E0FFFF;
        padding-right: 30px;
}

.card-container {
        color: black;
}